/FullStack API/FullStack.API/.vs/
/FullStack API/FullStack.API/FullStack.API/bin/Debug/
/FullStack API/FullStack.API/FullStack.API/obj/
/FullStack UI/FullStack.UI/.editorconfig
/FullStack UI/FullStack.UI/.gitignore
/FullStack UI/FullStack.UI/.vscode/extensions.json
/FullStack UI/FullStack.UI/.vscode/launch.json
/FullStack UI/FullStack.UI/.vscode/tasks.json
/FullStack UI/FullStack.UI/.vscode
